@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;400;600;800&display=swap");

.display-square {
  background-color: blue;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 10px 0px 0px 0px;
  /* border: 5px solid red; */
  background-color: rgb(0, 82, 136);
  font-family: "Sono", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, rgb(0, 207, 222), rgb(255, 169, 232));
}

h1,
p {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: rgb(255, 0, 153);
}

/* Containers */

.outer-container {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 90vh;
  border: 5px solid purple;
  min-height: 520px;
  max-height: 520px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 5px 0px;
  /* border-top: 5px solid rgb(255, 169, 232);
  border-right: 5px solid rgb(0, 207, 222);
  border-bottom: 5px solid rgb(0, 167, 179);
  border-left: 5px solid rgb(255, 136, 235); */
  border-radius: 20px;
  background-color: rgb(255, 245, 210);
  box-shadow: 5px 5px 5px #00000049;
}

.sub-container {
  border-top: 5px solid rgb(255, 169, 232);
  border-right: 5px solid rgb(0, 207, 222);
  border-bottom: 5px solid rgb(0, 167, 179);
  border-left: 5px solid rgb(255, 136, 235);
}

.title {
  width: 100%;
}

.left-container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top:0px;
}
.right-container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top:0px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.score {
  margin: 0px 10px;
}

/* Grid and blocks */

.grid-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin: 0px 10px;
  background-color: rgb(240, 163, 163);
  padding: 15px;
  height: 100%;
  border: 5px solid green;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 260px;
  justify-content: center;
  padding: 0px -107px;
  border-radius: 10px;
  border: 5px solid blue;
}

.grid div {
  /* border: 1px solid lightgrey; */
  /* flex-grow: 1; */
  height: 5%;
  width: 10%;
  border: 1px solid rgb(240, 163, 163);
  border-radius: 10px;
  box-sizing: border-box;
}

.out-of-bounds {
  max-width: 0px;
  display: none;
  border: none;
}

.left-bounds {
  background-color: green;
  /* opacity: .5; */
}

.right-bounds {
  background-color: red;
  /* opacity: .5; */
}

.bottom-bounds {
  display: none;
}

.top-of-grid {
  max-height: 0px;
  display: none;
}

.static-block {
  /* background-color: pink; */
  opacity: 0.75;
  border-radius: 10px;
}

.active-block {
  /* background-color: blue; */
  border-radius: 10px;
}

.block-rotate-test {
  /* background-color: brown; */
}

.block-I {
  background-color: rgb(0, 202, 202);
}

.block-O {
  background-color: rgb(249, 224, 0);
}

.block-T {
  background-color: purple;
}

.block-S {
  background-color: green;
}

.block-J {
  background-color: rgb(0, 42, 211);
}

.block-Z {
  background-color: rgb(198, 0, 0);
}

.block-L {
  background-color: rgb(220, 128, 0);
}

.play-button {
  font-size: 200%;
  font-family: "Sono", sans-serif;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(-45deg, rgb(0, 207, 222), rgb(255, 169, 232));
}

.grid-overlay {
  position: absolute;
  background-color: red;
  display: none;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 89%;
  opacity: 0.75;
  font-size: 400%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
