.display-square {
  background-color: blue;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 20px 0px 0px 0px;
  border: 5px solid red;
}

.outer-container {
  display: flex;
  justify-content: center;
}

.left-container {
  border: 2px solid purple;
  width: 300px;
  margin: 0px -15px 0px 0px;
}
.right-container {
  border: 2px solid purple;
  width: 300px;
  margin: 0px 0px 0px -15px;
}

.grid-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  border: 5px solid green;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 810px;
  width: 430px;
  border: 5px solid blue;
  padding: 0px -107px;
}

.grid div {
  border: 1px solid lightgrey;
  /* flex-grow: 1; */
  height: 4.6%;
  width: 9.8%;
}

.out-of-bounds {
  max-width: 0px;
  display: none;
  border: none;
}

.grey {
  background-color: grey;
}

.left-bounds {
  /* testing only */
  /* background-color: green;
  opacity: .5; */
}

.right-bounds {
  /* testing only */
  /* background-color: red;
  opacity: .5; */
}

.bottom-bounds {
  background-color: black;
}

.static-block {
  background-color: pink;
}

.active-block {
  background-color: blue;
}
