@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;400;600;800&display=swap");

.display-square {
  background-color: blue;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 10px 0px 0px 0px;
  background-color: rgb(0, 82, 136);
  font-family: "Sono", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, rgb(0, 207, 222), rgb(255, 169, 232));
  background-size: cover;
}

h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: rgb(255, 0, 153);
}


/* Containers */

.outer-container {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 90vh;
  min-height: 520px;
  max-height: 520px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 20px;
  background-color: rgb(255, 245, 210);
  box-shadow: 5px 5px 5px #00000049;
}

.sub-container {
  border-top: 5px solid rgb(255, 169, 232);
  border-right: 5px solid rgb(0, 207, 222);
  border-bottom: 5px solid rgb(0, 167, 179);
  border-left: 5px solid rgb(255, 136, 235);
  width: 100%;
}

.title {
  width: 100%;
}

.left-container,
.right-container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
}

.right-container_top {
  width: 100%;
}



.stats-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.stats-format-wrapper{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.stats-inner-container {
  display: flex;
  font-size: 125%;
}

.stats {
  margin: 0px 7px;
}

.score {
  margin: 0px 10px;
}

/* Grid and blocks */

.grid-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin: 0px 10px;
  background-color: rgb(240, 163, 163);
  padding: 15px;
  height: 100%;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 260px;
  justify-content: center;
  padding: 0px -107px;
  border-radius: 10px;
  border: 5px solid rgb(195, 126, 126);
}

.grid div {
  height: 5%;
  width: 10%;
  border: 1px solid rgb(240, 163, 163);
  border-radius: 8.5px;
  box-sizing: border-box;
}

.mini-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 125px;
  width: 250px;
  justify-content: center;
  padding: 0px -107px;
  border-radius: 10px;
}

.mini-grid div {
  height: 50%;
  width: 25%;
  border: 1px solid rgb(255, 245, 210);
  border-radius: 15px;
  box-sizing: border-box;
}

.next-block-container {
  flex-grow: 1;
}

.out-of-bounds {
  max-width: 0px;
  display: none;
  border: none;
}

.left-bounds {
  /* for debugging only: */
  /* background-color: green; */
  /* opacity: .5; */
}

.right-bounds {
  /* for debugging only: */
  /* background-color: red; */
  /* opacity: .5; */
}

.bottom-bounds {
  display: none;
}

.top-of-grid {
  max-height: 0px;
  display: none;
}

.static-block {
  opacity: 0.75;
}

.block-I {
  background-color: rgb(0, 202, 202);
}

.block-O {
  background-color: rgb(249, 224, 0);
}

.block-T {
  background-color: purple;
}

.block-S {
  background-color: green;
}

.block-J {
  background-color: rgb(0, 42, 211);
}

.block-Z {
  background-color: rgb(198, 0, 0);
}

.block-L {
  background-color: rgb(220, 128, 0);
}

.grid-overlay {
  position: absolute;
  background-color: rgba(0, 119, 255, 0.662);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  width: 100vw;
  min-height: 20vh;
  font-size: 200%;
  z-index: 1;
}

.button {
  font-family: "Sono", sans-serif;
  font-size: 150%;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(45deg, rgb(0, 207, 222), rgb(255, 169, 232));
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  box-shadow: 5px 5px 15px #000000b8;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0);
}

.play-button {
  display: flex;
}

.play-again-button {
  display: none;
}

.next-level-button {
  display: none;
}
